Repository contour-terminal/libunicode, pull requests merged in 2021-07, with the labels that each got.

#16 Use CPM
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/CPM.cmake
  cmake/FetchContent/CMakeLists.cmake.in
  cmake/ThirdParties.cmake
  src/unicode/CMakeLists.txt
Labels: CI, CMake

#8 Initial draft of a C-API suitable for convenient use of terminal emulator/application devs
  src/unicode/CMakeLists.txt
  src/unicode/capi.cpp
  src/unicode/capi.h
  src/unicode/capi_test.cpp
Labels: enhancement, test

#22 Fixes and tune CMake
  cmake/ThirdParties.cmake
  src/unicode/capi_test.cpp
  src/unicode/grapheme_segmenter.h
Labels: CMake, test

#25 Update fmt library to latest
  cmake/ThirdParties.cmake
Labels: CMake
